
.bb-page-parent {
  display: flex;
  flex-direction: column;

  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.bb-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.bb-container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 2;
  overflow-y: auto;
}

.bb-item {
  width: 240px;
  height: 120px;
  padding: 20px;
  margin-top: 24px;
}

.bb-page .block-details {
  height: 100%;
  width: 300px;
  padding: 20px 0 0 5px;
  
}

