.sidemenu {
  width: 240px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.sidemenu-list {
  padding: 10px;
  list-style-type: none;
  padding: 50px 0;
}

.sidemenu-item {
  widows: 100%;
}

.sidemenu-item  a {
  color: #000;
  text-decoration: none;
  font-weight: 500;

  padding: 8px 16px;

  font-size: 1rem;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidemenu-item svg {
  min-width: 56px;
}

.sidemenu-item  a:hover {
  opacity: 0.6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  font-size: 20px;
  font-weight: 700;
}