.sidemenu {
  width: 220px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.sidemenu-list {
  margin-top: 40px;
  padding: 10px;
  list-style-type: none;
}

.secondary-sidemenu-list {
  list-style-type: none;
}

.secondary-sidemenu-list .title {
}

.sidemenu-item {
  widows: 100%;
}

.sidemenu-item  a {
  color: #000;
  text-decoration: none;
  font-weight: 500;

  padding: 8px 4px;

  font-size: 1rem;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidemenu-item svg {
  min-width: 56px;
}

.sidemenu-item  a:hover {
  opacity: 0.6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 35px;

  font-size: 24px;
  font-weight: 500;
}

.header .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.header svg{
  margin-top: 15px;
  height: 48px;
  width: 48px;

}

.header  .sign-out-icon {
  width: 12px;
  height: 20px;
  margin: 0 5px;
  color: red;
  cursor: pointer;
}

.header .account-name {
  font-size: 14px;
  font-weight: 500;
}

.subheader {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 20px;
  height: 60px;

  color: #000;

  font-size: 16px;
  font-weight: 500;
}

.subheader .title {
  opacity: 0.55;

}

.account-name {
  align-self: flex-end;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 12px;

  
}
