.bbi-page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.bbi-page .bbi-page-header {
  width: 100%;
}

.bbi-page > .bbi-content {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.bbi-page > .bbi-content > .bbi-list {
  overflow: hidden;
  width: 260px;
  min-width: 260px;
  height: 100%;
  background-color: #fafafa;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  border-left: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom-left-radius: 5px;
}

.bbi-page > .bbi-content > .bbi-list > .bbi-list-header {
  font-size: 32px;
  font-weight: 500;
  padding: 0 20px;;
  overflow: hidden;
}

.bbi-page > .bbi-content > .bbi-list > .bbi-list-content {
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.bbi-page > .bbi-content > .bbi-list > .bbi-list-content > .bbi-list-item {
  width: 90%;
  height: 100px;
  min-height: 100px;
  margin: 10px 0;

  font-size: 20px;
  font-weight: 500;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;

  cursor: pointer;
}

.bbi-page > .bbi-content > .bbi-panel {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  border-right: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom-right-radius: 5px;  
}

.bbi-page > .bbi-content > .bbi-empty-panel {
  flex: 1 1 auto;
  background-color: #fafafa;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: 500;

  border-right: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  border-bottom-right-radius: 5px;


}

.bbi-page > .bbi-content > .bbi-panel >.bbi-panel-header {
  
}

