.bbi-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bbi-page .header {
  height: 180px;
  background-color: #f1f1f1;
  width: 100%;
}

.bbi-page .content {
  flex-grow: 2;
  width: 100%;
  background-color: #fff;
  padding: 0px 40px;

  display: flex;
  flex-direction: row;
}

.bbi-page .content  .bbi-list{ 
  width: 260px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.24);


}

.bbi-page .content  .bbi-list .bbi-header{
  font-size: 32px;
  font-weight: 500;
  padding: 0 20px;;
}

.bbi-page .content  .bbi-list .list-content{

  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  min-height: -webkit-min-content;
}

.bbi-page .content  .bbi-list .list-content .list-item{
  width: 90%;
  margin: 10px 0;
  min-height: 100px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bbi-page .content .bbi-panel {
  background-color: #f1f1f1;
  flex-grow: 2;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}


.bbi-page .content .bbi-panel .bbi-panel-content {
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-panel-files {
  width: 100px;
  height: 400px;
  min-width: 100px;

  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-panel-files .bbi-file{
  width: 80px;
  height: 80px;
  min-height: 80px;
  margin: 3px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-file-preview {
  background-color: #fafafa;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  max-height: -webkit-fill-available;

  border-radius: 5px;
}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-panel-files .filename{
  font-size: 10px;;

}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-file-preview .bbi-file-preview-box {
  flex: 1;
  display: flex;
  overflow: auto;
  background-color: #272c34;
  margin-top: 5px;;
  max-height: 300px;


}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-file-preview .bbi-file-preview-box .bbi-file-preview-container {
  min-height: -webkit-min-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-file-preview .bbi-file-preview-box .bbi-file-preview-content {
  color: #fff;
  line-height: 1.5;
  padding: 10px;

}

.bbi-page .content .bbi-panel .bbi-panel-content .bbi-file-preview .bbi-file-preview-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  background-color: #fafafa;
}

