* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  -webkit-font-smoothing: antialised;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;

}

.sidemenu {
  padding: 10px;
  width: 300px;
  background: #fff;
}

.sidemenu-list {
  list-style-type: none;
  padding: 0;
}

.content {
  flex: 1;
  padding: 10px;
}