@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Manrope, sans-serif;
  background: #f0f0f0;
  -webkit-font-smoothing: antialised;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;

}


.container > .parent {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.container > .parent > .content {
  flex: 1;
  overflow: hidden;
}